.chatbot {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
    height: 100vh;
    //max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
  }

.chat-container, .summary-container{
  flex:1;
  padding: 10px;
  height: 100%;
}

.summary-container {
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-container{
  display: flex;
  flex-direction: column;
}
  .message-list {
    width: 100%;
    height: 85%;
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  }
  
  .message {
    max-width: 80%;
    padding: 8px 16px;
    border-radius: 16px;
    background-color: #e0e0e0;
    margin-bottom: 4px;
    word-wrap: break-word;
    align-self: flex-start;

    &.user {
      align-self: flex-end;
      background-color: #d1ecf1;
    }

    &.gpt {
      align-self: flex-start;
      background-color: #f8d7da;
    }
  }

  @keyframes gradientFlicker {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .input-box {
    display: flex;
    width: 100%;
    margin-bottom: 0px;
    border-top: 1px solid #ccc;
    padding: 10px;

    input {
      flex-grow: 1;
      margin-right: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      border-radius: 8px;
    }
  }

  .loading {
    margin-top: 10px;
    text-align: left;
    top: 100%;
    left: 10%;
    font-size: 15px;
    color: transparent;
    background: linear-gradient(45deg, #ff0, #f0f, #0ff);
    background-size: 400% 400%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: gradientFlicker 3s linear infinite;
  }
  
  .send-button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }

  .summary {
    width: 95%;
    padding: 10px;
    margin-left: 15px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    h3 {
      margin-bottom: 10px;
    }

    p {
      font-size: 0.9em;
    }
  }

  .nav {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0.9em;
  }
  
  .nav a {
    display: inline-block;
    padding: 8px 18px;
    margin: 0px;
    background-color: #f0f0f0;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .nav a:hover {
    background-color: #e0e0e0;
  }

  .clear-button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #ff4d4d; /* 빨간색 배경 */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
  }
  
  .clear-button:hover {
    background-color: #ff3333; /* 호버 효과 */
  }